<h1>My LTI</h1>

<table class="table">
  <tr>
    <th>Header</th>
    <th>Value</th>
  </tr>
  <% @params.each do |k, v| %>
    <tr>
      <td><%= k %></td>
      <td><%= v %></td>
    </tr>
  <% end %>
</table>
