<div class="col-xs-12">
  <h1>Amaze LTI</h1>
  <h2>The most amazing LTI tool ever</h2>
  <table class="table">
    <tr>
      <th>Consumer Key</th>
      <th>Consumer Secret</th>
    </tr>
    <tr>
      <td><%= @new_client.lti_key%></td>
      <td><%= @new_client.lti_secret%></td>
    </tr>
  </table>
</div>
