<div class="col-xs-12">
  <h1>My LTI</h1>
  <table class="table">
    <tr>
      <th>Consumer Key</th>
      <th>Shared Secret</th>
    </tr>
    <tr>
      <td><%= @new_client.lti_key%></td>
      <td><%= @new_client.lti_secret%></td>
    </tr>
  </table>
</div>
